.container {
  margin-top: 3rem;
  height: 900px;
}
form {
  height: 800px;
  display: flex;
  justify-content: center;
}

textarea {
  width: 80%;
  height: 100%;
  resize: none;
  outline: none;
}

.btn {
  display: flex;
  justify-content: center;
  color: white;
  
}
p{
  color: white;
  margin-right: 60px;
}