.container{
    margin-top: 3rem;
   height: 900px;
}
form{
     height: 800px;
     display: flex;
     justify-content: center;
 }
  
textarea {
    width: 80%;
   height: 100%;
  
  }

.btn{
    display: flex;
    justify-content: center;
}