 
<div   class="modal"> 
  <form class="modal-content animate" (ngSubmit)="onSubmit()" [formGroup]="FormGroup">
    <div class="imgcontainer">
      <span class="close" title="Close Modal" (click)="close(false)">&times;</span>
    </div>
    <div class="container">
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" formControlName="password" >
      <div class="error" *ngIf="isSubmit && FormGroup.controls.password?.errors?.required" >Password is required</div>
      <div class="error" *ngIf="!FormGroup.controls.password?.errors?.required && !isPasswordRight">Invalid Password</div>
      <button type="submit" (click)="onSubmit()">ok</button>
    </div>
  </form>
</div>

 